#tit{
    background-color: yellow;
    height:150px;
    padding:40px;
    font-family: "Times New Roman", Times, serif;
    font-size: 50px;
    font-weight: bold;
}

.page_top{
    background-color: yellow;
    height: 80px;
    padding: 20px;
    font-family: "Times New Roman", Times, serif;
    font-size: 30px;
    font-weight: bold;
}

.cards {
    display: flex;
    flex-wrap: wrap;
}



.card{
    margin: 40px;
}

.left_card{
    margin-left:145px;
}

.VisualizationPart{
    background-color: blue;
    height: 500px;
}

.AlgorithmPart{
    background-color: green;
    height: 500px;
}

.toolbox{
    background-color: red;
    height:130px;
}